body {
    background-color: #ffffff;
    color: #414141;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    background-color: #eeeeee;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 55px;
}
.osn{
    width:100%;
     display: flex;
    justify-content: center;
}
.box{
    width:40%;
    margin: 3%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 14px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 5px 14px 5px rgba(0,0,0,0.33);
    transition: transform .2s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.box:hover {
    transform: scale(1.05);
  }
h2 {
    background-color: #eeeeee;
    margin: 0;
    padding: 2%;
    font-size: 60px;
}
p {
    margin: 10px;
    font-size:25px;
}
.ratee{
    margin: 10px;
    font-size:30px;
} 
.ava {
    border-radius: 50%;
    width:  200px;
    height: 200px;
    margin:2%;
    float: right;
}
.star{
    width:187px;
    height: 52px;
    margin: 10px;
    float: left;
}
.starr {
    width:125px;
    height: 35px;   
}
.rate{
    font-size:40px;
    margin:0;
    padding: 14px;
} 
@media screen and (max-width: 950px) {
    .osn {
      width: 100%;
      display: initial;
     justify-content:flex; 
     text-align:center;
    }
    .box{
        width: 80%;
        height: 45%;
        margin:10%;
    }
    .ava {
        float:initial;

    }
    .star{
        float:left;
        margin:15px;
    }
    p{
        display: none;
    }
    .rate{
        text-align:left;
        display: block;
    }
  }